PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://sagarsingh030601_db_user:q5zoblcHu0csX5SP@cluster0.3ptb5lc.mongodb.net/ecommerce
JWT_SECRET=your-super-secret-jwt-key-change-in-production-min-32-chars
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
API_URL=http://localhost:5000
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=776724594546936
CLOUDINARY_API_SECRET=lcj4a59kKBe_jrRc0LlczLIMX10
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_TENANT_ID=common
